{% extends 'main.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <a href="{% url 'user_accounts' %}" class="btn btn-sm btn-danger">Back</a>
        <div class="text-white font-weight-bolder">
            <h3 >{{order}}</h3>

            <span class="m-3">Total:Rs.{{order.get_cart_total}}</span><span class="m-3">Total Items:{{order.get_cart_items}}</span><span>Date ordered:{{order.date_added}}</span>
        </div>
        <table class="table bg-light" id="cart_table">
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
            <th></th>
            {% for item in items %}
            <tr>
                <td></td>
                <td>{{item.product.name}}</td>
                <td>Rs.{{item.product.price}}</td>
                <td>{{item.get_count}}</td>
                <td>{{item.get_total}}</td>
                <td><button class="btn btn-sm btn-success addcart" data-product={{item.product.id}} data-action="add">Add</button></td>
                <td><button class="btn btn-sm btn-success addcart" data-product={{item.product.id}} data-action="remove">Delete</button></td>
    
            </tr>
            {% endfor %}
        </table>

    </div>


{% endblock %}